
  <h2 align="center"> <strong>Title:</strong> <%= @article.title %> </h2>
<div class="well col-xs-8 col-xs-offset-2">
  <h4 class="cneter"><strong>Description</strong></h4>
  <hr>
  <%= simple_format(@article.description) %>
<div class="article-actions">

<%= link_to 'Back to Articles',articles_path, class:"btn btn-xs btn btn-success"%>
<%= link_to 'Edit',edit_article_path, class:"btn btn-primary" %>
<%= link_to 'Delete',article_path(@article),method: :delete, data: {confirm:"Are yoy sure want to delete Article?"},class:"btn btn-danger" %>
</div>
</div>
